[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==3.8.4"
numpy = "==2.2.1"
pandas = "==2.2.3"
seaborn = "==0.13.2"
scikit-learn = "==1.6.1"

[dev-packages]

[requires]
python_version = "3.12"
